h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.IMGlink {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h4 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    
}
body {
    background-image: url("./Image/Background.jpg");
    background-attachment: fixed;
    color: rgb(255, 0, 247);
}
.Meny {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0;
   
    
}
.MenyItem {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
a {
    display: inline-block;
    
}
a:link {
    color: red;
  }
  a:visited {
    color: rgba(0, 30, 255, 0.487);
  } 
  .soup {
    font-size: 24px;
  }
.emailbox {
    background: #313339;
    width: fit-content;
    height: fit-content;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}
.emailform {
    margin: 10px
}
